#debugHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#debugHostBtn a {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_on.png?token=b9530fda9f1ed3bc676475f16391eb33');
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_on.svg?token=bf03d53205bb3e5bd907acf54b4ccde2'),linear-gradient(transparent, transparent);
}

.hashover #debugHostBtn a:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_hover.png?token=6c1b98e2f0229484c33fc94448101178');
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_hover.svg?token=c45e271f17876b4d4b0c630359492ad1'),linear-gradient(transparent, transparent);
}

#debugHostBtn a.selected, #debugHostBtn a.selected:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_off.png?token=6ff64c53037f85737ec49622f409086e');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/debug/styles/images/variables_off.svg?token=c8d3659848a7d768b428a6e606f98e9a'),linear-gradient(transparent, transparent);
}

#debugHeader .pageNameHeader {
    padding-right: 0px;
}

#variablesClearLink {
    display: inline-block;
    margin-bottom: 15px;
}

#variablesClearLink:hover {
    color: #0a6cd6;
}

#traceClearLink {
    display: inline-block;
    margin-bottom: 15px;
}

#traceClearLink:hover {
    color: #0a6cd6;
}

#debugScrollContainer 
{
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#debugContainer {
        padding: 10px 10px 10px 10px;
}

.variableName
{
	font-weight: bold;
}

.variableDiv
{
    margin-bottom: 20px;
    line-height: 16px;

}

#variablesContainer {
    padding-bottom: 5px;
    /*overflow: auto;*/
}

#traceContainer {
    padding-top: 15px;
    /*padding: 0px 10px 10px 10px;*/
}

.debugToolbarButton 
{
	font-size: 1em;
	color: #069;
}

.axEventBlock {
    display: inline-block;
    width: 100%;
    margin: 5px 0px 5px 0px;
    line-height: 21px;
}

/*a.axEventBlock:hover {
    background-color: #069;
    color: white;
}*/

.axTime {
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    color: #b1b3b5;
}

.axLabel {
    margin: 0px 0px 5px 0px;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: bold;
}

.lastAxEvent {
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
}

.axEvent {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
}

.axCase {
    margin: 0px 0px 5px 8px;
    font-style: italic;
}

.axAction {
    margin: 0px 0px 5px 13px;
}

#traceEmptyState.emptyStateContainer {
    margin-top: 0px;
}

.debugLinksContainer {
    text-align: right;
}