
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_on.png?token=9793be5a3bd8c24147ccec4b12782112');
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_on.svg?token=557a48ede097e60d7c7a7e6a86e3ccc6'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_hover.png?token=ba14c8b551aef1b7a2cc48e4b13d47a3');
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_hover.svg?token=c9ac93945b96b594c7799245c1454fed'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_off.png?token=2d1a676b486ca4cee51070c980b555af');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/sitemap_off.svg?token=9c1ad0e85110c3ebb46b3161f8b7df7f'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/minus.gif?token=2c1620b9f00cbd3d556e9913ec53156c');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/plus.gif?token=66885cf75c0aa5552deec3bce1eefb85');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/page.png?token=e074ea9ac06489b65830d30417337358') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/page.svg?token=1f47d9342bd155c20774ac8dd9069b9d') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/flow.png?token=de544d707143c405941861cde9a89214') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/flow.svg?token=6ff2e1fdd7be4339f28dd118592ab041') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/folder_closed.png?token=7c0f92d1d462720dd5288aee30391246') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/folder_closed.svg?token=6b5bec831785ef505a13b69c496e5c15') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/folder_open.png?token=0f95424e3dd90a83aac1c77c8b1d12c0') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/folder_open.svg?token=d53fb78b4fd200c1b0bb317b2adb73a9') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share.png?token=6245be5910272b724113979267f13b21') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share.svg?token=97b30fc1b3e4125c060c157c3d1e028d') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share_hover.png?token=cf041e2b1a1d82c2ae1d617e199a2edb') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share_hover.svg?token=e5790dea8138ef76e3173e0048affd04') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share_on.png?token=a9d95f8e4b37dd4a6e17cece9fb83ee9') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/share_on.svg?token=dec363c8a12be86af4bbe7c1e4fe08c3') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views.png?token=67f67e255386cd42e606daddb5c26a3d') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views.svg?token=64c4b6f6bf7ddefa50f914e902566421') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views_hover.png?token=d3de8888720d931df0cdbd55ddfa6495') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views_hover.svg?token=35d6e251589ad5a9d4c18b18beed1dca') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views_on.png?token=e7e6e6c65b0e405bd12b5d18d2515548') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/views_on.svg?token=0edf67e1d054eee880030fdb40a45446') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots.png?token=779dffa1b4d2f76a82180b6c069246f5') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots.svg?token=bcdcd291a64cfd807cc33b7a71abf6aa') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots_hover.png?token=48299f7f3c5a166f966e4a7460788c41') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots_hover.svg?token=c16b4dbaa230f2f64dbea46dad82e693') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots_on.png?token=4c57f2c94bb7b4ba908ecedefe3532d1') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/hotspots_on.svg?token=2c7d2c8aa0488c39885f37b3d593777e') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/229_variables_16.png?token=38debdfa2042a352157189ec1017026b') no-repeat center center;
}*/

#searchButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/232_search_16.png?token=21e3dc0670de9263478e518b66f31105') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://d26uhratvi024l.cloudfront.net/gsc/PL0AD7/e3/8d/24/e38d24e176e047c5b12c98c8b14cedfc/plugins/sitemap/styles/images/adaptivecheck.png?token=921577764cbffd5b4373f0c30d405d7d') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}